.g-intro-main {
	margin-top: 40px;
}

.g-intro-1-img {
	width: 100%;
}

.g-intro-1-slogan {
	text-align: center;
	background: #f5f5f5;
	padding: 20px;
	font-size: 30px;
	font-weight: 500;
}

.g-intro-header {
	text-align: center;
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 32px;
	color: var(--primary);
}

.g-intro-2-wrap {
	width: 50%;
	margin-top: 20px;
}

.g-intro-2 {
	justify-content: center;
}

.g-intro-2-item-head {
	font-size: 28px;
	font-weight: bold;
	color: var(--primary);
}

.g-intro-item {
	font-size: 16px;
	margin: 16px 0;
}

.g-intro-2-line {
	margin: 0 25%;
	border-bottom: 2px solid #000;
	display: flex;
	justify-content: center;
}

.card-body {
	font-size: 16px;
	padding: 1rem 2px;
}

.card {
	height: 416px;
}

.g-intro-name {
	font-size: 20px;
	color: var(--primary);
}

.g-intro-img {
	width: 100%;
	margin-top: 20px;
}

.s-intro-img {
	width: 100%;
	margin-top: 20px;
	height: 232px;
}

.s-intro-item {
	position: relative;
	display: block;
}

.s-intro-label {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 8px 0;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	background: rgba(0,0,0,0.6);
}

.s-intro-img-2 {
	width: 540px;
	height: 298px;
	margin-top: 20px;
}