.breadcrumb{
    font-size: 1rem;
}
.time__post{
    font-size: 0.8rem;
}
.info__post{
    padding: 4px 8px;
}
.post{
    box-shadow: 2px 3px 4px #ccc;
    
}
.img__post{
    overflow: hidden;
}
.post img{
    transition: all 0.4s;
    height: 200px;
}
.post img:hover{
    transform: scale(1.2);
}

.news-title {
	color: #000;
	display: -webkit-box;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 22px;
    font-weight: bold;
    /*line-height: */
}

.desc__post {
	display: -webkit-box;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    font-size: 16px;
}

.info__post {
	padding-bottom: 20px;
}

.main-post-title {
	font-size: 24px;
	font-weight: bold;
}

.main-post-time {
	margin-top: 20px;
	padding-bottom: 4px;
	border-bottom: 1px solid gray;
	color: gray;
}

.main-post-content {
	font-size: 15px;
	margin-top: 20px;
}
.main-post-content img{
	max-width: 100%;
}

.main-post-img {
	text-align: center;
	margin: 20px;
}

.main-post-img img {
	width: 70%;
}

.sub-post-title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: #000;
    font-weight: bold;
	font-size: 18px;
}

.sub-post-title:hover {
	color: var(--primary);
	text-decoration: none;
}

.sub-post-desc {
	display: -webkit-box;
	-webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.news-left {
	color: #000;
	padding-bottom: 8px;
	border-bottom: 1px solid var(--primary);
}

.news-left:hover {
	text-decoration: none;
	color: #000;
}

.news-left:hover .news-left-title {
	color: var(--primary);
}

.news__curr--desc {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.news__curr--info {
	display: b;
}

.gutter-6.news-left-img {
	padding-left: 0 !important;
}

.news-achievement-title {
	color: #000;
	font-size: 16px;
	font-weight: bold;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 5;
	overflow: hidden;
}

.news-achievement {
	margin-bottom: 20px;
}

.news-achievement:hover {
	text-decoration: none !important;
	color: var(--primary);
}

.news-achievement:hover .news-achievement-title {
	color: var(--primary);

}